
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 400%;
    animation: slideAnimation 12s infinite;
}

.carousel-slide img {
    width: 25%;
    object-fit: cover;
    transition: all 0.5s ease;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(0);
    }
}
