
.page-search-header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}

.login {
    float: right;
    margin-right: 20px;
}

.login a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

.login a:hover {
    text-decoration: underline;
}

.logo {
    float: left;
    margin-left: 20px;
}

.logo .motto {
    color: #0F38AF;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    font-family: "华文宋体", sans-serif;

}

.logo img {
    vertical-align: middle;
    margin-right: 10px;
}

.ui-menu {
    clear: both;
    padding-top: 5px;
    text-align: center;
    background-color: #0F38AF;
    height: 30px;
}

.ui-menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.ui-menu nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.ui-menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.ui-menu nav ul li a:hover {
    background-color: #0F386F;
}

.ui-menu nav ul li .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0F38AF;
    min-width: 100px;
    z-index: 1000;
}

.ui-menu nav ul li:hover .dropdown-content {
    display: block;
}

.ui-menu nav ul li .dropdown-content a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.ui-menu nav ul li .dropdown-content a:hover {
    background-color: #0F386F;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
