.wrapper {
    display: flex;
    flex-direction: column;
    height: 1200px; /* 视口高度 */
    align-items: center;
    width: 100%; /* 确保.wrapper占满整个视口宽度 */
}

.layout_top, .layout_middle, .layout_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* 设置为视口宽度的80% */
    margin: 0 auto; /* 水平居中 */
}

.layout_top {
    height: 340px;
}

.layout_middle {
    flex: 1;
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    align-items: flex-start; /* 子元素在容器的起始位置对齐 */
    background-color: #f0f4ff; /* 背景颜色 */
    padding: 20px;
    width: 80%; /* 设置为视口宽度的80% */
    margin: 0 auto; /* 水平居中 */
}

.layout_bottom {
    flex: 2; /* 底部盒子占据2份 */
    width: 80%; /* 设置为视口宽度的80% */
    margin: 0 auto; /* 水平居中 */
}

.content_slides_show {
    flex-direction: column;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 40px;
    width: 100%; /* 设置为父容器宽度的100% */
}

.content_slides_show p {
    height: 20px;
}

.content_journalism {
    flex: 2; /* 子元素平分父容器 */
    padding: 20px;
    width: 100%; /* 设置为父容器宽度的100% */
}

/* 部分盒子的子元素样式 */
.content {
    color: #000; /* 文本颜色 */
    flex: 1; /* 子元素平分父容器 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    align-items: flex-start; /* 子元素在容器的起始位置对齐 */
    background-color: #f0f4ff; /* 背景颜色 */
    padding: 20px;
    width: 100%; /* 设置为父容器宽度的100% */
}

.module_title {
    display: flex;
    justify-content: space-between; /* 子元素两端对齐 */
    width: 100%; /* 确保.module_title占满整个.layout_middle */
    border-bottom: 2px solid #0F38AF; /* 下边框 */
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.notice-container {
    display: flex;
    align-items: center; /* 垂直居中 */
    width: 100%; /* 设置为父容器宽度的100% */
}

.notice-icon {
    margin-right: 10px; /* 图标与文字之间的间距 */
}

.notice-title {
    font-size: 18px; /* 字体大小 */
    color: #0F38AF; /* 字体颜色 */
}

.more-show {
    white-space: nowrap;

}

.more-link {
    white-space: nowrap;
    width:100px;
    font-size: 14px; /* 字体大小 */
    color: #2e3436; /* 字体颜色 */
    text-decoration: none; /* 去掉下划线 */
}

.more-link:hover {
    text-decoration: underline; /* 鼠标悬停时的下划线 */
    color: red;
}