<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="homework01/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="homework01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="JUnit4" module-name="homework01" />
          <element id="library" level="project" name="mysql-connector-j-8.4.0 (4)" />
          <element id="library" level="project" name="taglibs-standard-impl-1.2.5" />
        </element>
      </element>
    </root>
  </artifact>
</component>